{%extends "master.html"%}

{%block content%}
<div class="container w-50 mt-5 bg-dark text-light rounded p-4">
    <h1>Login</h1>
    <Form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">password</label>
            <input type="password" class="form-control" placeholder="*********">
        </div>
    </Form>

</div>

</div>
{%endblock%}